
.container {
    color: #5b5f66; 
    background-color: #eceff3; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    
    background-color: var(--sidebar-background-color);
    color: var(--sidebar-text-color);
    border-right: 2px solid var(--sidebar-border-color);
    overflow: hidden;
  }
  
  .container.dark {
    background-color: black; 
    color: white; 
  }
  
  
  .title {
    font-size: 1.5rem; 
    margin: 2rem 0; 
  }
  
  
  .subtitle {
    text-align: center;
    color: #5b5f66; 
  }
  
  .container.dark .subtitle {
    color: #9e9e9e; 
  }
  