.navbar {
    height: 4rem;
    width: 100vw;
    /* padding-right: 2.5rem; */
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: var(--background-color);
    color: var(--text-color);
    border-right: 2px solid var(--border-color);
    border-bottom: 1px var(--border-color) solid;

}

.navbarDark {

    color: white;
    border-bottom-color: #343A40;
    background-color: var(--sidebar-background-color);
    color: var(--sidebar-text-color);
    border-right: 2px solid var(--sidebar-border-color);
}

.navbarFont {
    font-weight: 500;
}

.navbarButton {
    display: flex;
    align-items: center;
    padding-right: 2.5rem;
}

.navbarText {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2rem;
}

.icon {
    font-size: 1.875rem;
    margin-left: 0.75rem;
}