
.sidebar {

  height: 100vh;
  width: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.2rem 0;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-color: var(--background-color);
  color: var(--sidebar-text-color);
  border-right: 1px var(--border-color) solid;;


}

.sidebar::-webkit-scrollbar {
  display: none;
}

/* Logo container  */
.logoContainer {
  border-radius: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 2rem;
  border-radius: 0.75rem;
  object-fit: cover;
}

/* Menu items container  */
.menu {
  color: var(--menu-icon-color);
  font-size: 1.875rem;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  background-color: var(--sidebar-background-color);
  color: var(--sidebar-text-color);
  border-right: 2px solid var(--sidebar-border-color);
}

/* Menu item  */
.menuItem {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
  /* padding: 0.25rem; */
}

.menuItem.active {
  /* background-color: #4a4a4a; */
  border-radius: 0.5rem;
}

/* User avatar  */
.userAvatar {
  background-color: #1b5e20;
  /* color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  /* padding: 0.5rem; */
  font-size: 1rem;
  border-radius: 50%;

  color: var(--text-color);
  border-right: 2px solid var(--border-color);
}

