
/* Default light mode */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
}

/* Dark mode  */
.dark {
  --background-color: #121212;
  --text-color: #ffffff;
}

/* Light mode  */
.light {
  --background-color: #ffffff;
  --text-color: #000000;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
